@import "tailwindcss";

@theme {
  --color-white: #ffffff;
  --color-black: #111827;
  --color-green: #047857;
  --color-navyBlue: #11234f;
  --color-orange: #f67a1b;
  --font-Gambetta: "Gambetta", "sans-serif";
  --font-G-Sans: "G-Sans", "sans-serif";
  --font-G-Sans-bold: "G-Sans-bold", "sans-serif";
}

@font-face {
  font-family: Gambetta;
  src: url(./assets/fonts/Gambetta_Complete/Gambetta_Complete/Fonts/OTF/Gambetta-Regular.otf);
  fontmat: "opentype";
}
@font-face {
  font-family: G-Sans;
  src: url(./assets/fonts/GeneralSans_Complete/GeneralSans_Complete/Fonts/OTF/GeneralSans-Semibold.otf);
  format: "opentype";
}
@font-face {
  font-family: G-Sans-bold;
  src: url(./assets/fonts/GeneralSans_Complete/GeneralSans_Complete/Fonts/OTF/GeneralSans-Bold.otf);
  format: "opentype";
}

html {
  scroll-behavior: smooth;
}

#track-services-banner {
  background: #00395f;
  background: linear-gradient(
    90deg,
    rgba(0, 57, 95, 1) 0%,
    rgba(17, 35, 79, 1) 100%
  );
}

#NeedHelp {
  background: url(../public/images/banner.png);
}


html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  background-color: #ffffff;
}
